.btn{
    display: inline-block;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--clr-red);
    color: var(--clr-light);
    padding: 0.5em 1em;
    border-radius: 4px;
    box-shadow: 0 10px 20px rgb(220, 38, 38,0.5), 0 6px 6px
    rgb(220, 38, 38,0.5),0 0 100px -10px var(--clr-red);
    transition: transform 0.5s,box-shadow 0.2s;
}
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 14px 28px rgb(220, 38, 38,0.25), 0 10px 10px
    rgb(220, 38, 38,0.22),0 0 120px -10px var(--clr-red);

}
.container{
    width:80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right:0.5rem;
   
   
    
}


    @media (min-width: 475px){
        .container{
            max-width: 475px;
        }
    }
    @media (min-width: 640px){
        .container{
            max-width: 640px;
        }
    }
    @media (min-width: 768px){
        .container{
            max-width: 768px;
        }
    }
    @media (min-width: 1024px){
        .container{
            max-width: 1024px;
        }
    }
    @media (min-width: 1280px){
        .container{
            max-width: 1280px;
        }
    }
    @media (min-width: 1535px){
        .container{
            max-width: 1535px;
        }
    }
/* 

    @media (min-width: 475px){
        
    }
    @media (min-width: 640px){
        
    }
    @media (min-width: 768px){
        
    }
    @media (min-width: 1024px){
        
    }
    @media (min-width: 1280px){
        
    }
    @media (min-width: 1535px){
        
    } */